/vendor
/node_modules
/public/storage
/public/tmp
/tmp
Homestead.yaml
Homestead.json
.env
/nbproject
/build
.idea
.DS_Store
/.vagrant
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.elasticbeanstalk/config.yml
